{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="login card">
        <h3 class="text-center">About Us</h3>
        <hr>
        <article>
            <p>Beth-el Ojimaojo Anyebe started QuizHQ because He wanted to encourage people to find joy in learning new things, the way to do this was to create a system that rewards knowledge.</p>

            <p>That's why QuizHQ was built so that anytime you interact with any quiz you get push to reasearch and learn more or be rewarded for what you know.</p>

            <p>Along the way, we have bocome one top companies that deliver great learning services.</p>

            <p>We want to be not just a game but a reward system.</p>
        </article>
    </div>
</div>
{% endblock %} 